body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 20px;
}

.input-container {
	width: 60vw;
	margin: 0 auto;
	position: relative;
	&:after {
		content: '+';
		position: absolute;
		left: 1rem;
		top: 45%;
		font-size: 34px;
		line-height: 0;
		color: lightgray;
	}
}

.address-input {
	height: 50px;
	border: 1px solid lightgrey;
	letter-spacing: 2px;
	font-size: 22px;
	width: 100%;
	border-radius: 8px;
	outline: 0;
	padding: 0 25px;
	padding-left: 60px;
}

.map-container {
	height: 400px;
	width: 60vw;
}
